<!DOCTYPE html>

<html>
<head>
    <title>SPMO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Marital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">

        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    @Styles.Render("~/Content/SPMO/SINDHI/css/bootstrap-3.1.1.min.css")

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Scripts.Render("~/Scripts/SPMO/SINDHI/jquery.min.js")
    @Scripts.Render("~/Scripts/SPMO/SINDHI/bootstrap.min.js")
    @Styles.Render("~/Content/SPMO/SINDHI/css/style.css")
    <!-- Custom Theme files -->
    @Styles.Render("~/Content/SPMO/SINDHI/css/css.css")
    @Styles.Render("~/Content/SPMO/SINDHI/css/cssu.css")

    <!----font-Awesome----->
    @Styles.Render("~/Content/SPMO/SINDHI/css/font-awesome.css")
    <!----font-Awesome----->
    <script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
    </script>
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/Scripts/Main/datehelper.js")
    @Scripts.Render("~/Scripts/Main/angular.min.js")
    @Scripts.Render("~/Scripts/Main/App.js")
    @Scripts.Render("~/Scripts/Main/VendorTypesController.js")

</head>
<body>
    <input type="hidden" id="hdnbranding" value="@SettingsManager.Instance.Branding" />
    <input type="hidden" id="branding" value="@SettingsManager.Instance.Branding" />
    <input type="hidden" id="hdnVendorType" value="@ViewBag.VendorTypes" />
    <div class="navbar navbar-inverse-blue navbar">
        <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar navbar-inverse-blue navbar">
                    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
                    <div class="navbar-inner">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-2" style="padding-left:0px;">
                                    <img src="@Url.Content("~/Content/SPMO/SINDHI/images/logofinal.jpg")" title="logo" style="float: left;left: 15px;height:100px">
                                </div>
                                <div class="col-md-10" style="padding-left:0px;">
                                    <h1 class="brand brand-name navbar-left" style="top:10px;">
                                        <div class="navbar-left">
                                            <span style="color: #fff;font-size: 35px;padding-top: 10px;">SINDHU PROGRESSIVE MATRIMONIAL ORGANISATION</span>
                                            <br />
                                            <span style="color: #fff;font-size: 18px;padding-top: 10px;">REG NO: MAH/223/2000/PUNE</span>
                                        </div>
                                    </h1>
                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="clearfix"></div>
                        @if (ShriVivah.Models.SessionManager.GetInstance.ActiveUser != null)
                        {
                            <div class="pull-left">
                                <nav class="navbar nav_bottom pull-right" role="navigation">
                                    <ul class="nav navbar-nav nav_1">
                                        <li><a href="#">Welcome- @ShriVivah.Models.SessionManager.GetInstance.ActiveUser.FirstName &nbsp; @ShriVivah.Models.SessionManager.GetInstance.ActiveUser.LName </a></li>
                                    </ul>
                                </nav>
                            </div>
                        }

                        <div class="pull-right">
                            <nav class="navbar nav_bottom pull-right" role="navigation">
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                    <ul class="nav navbar-nav nav_1">
                                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                        <li><a href="@Url.Action("About","Home")">About</a></li>

                                        @if (ShriVivah.Models.SessionManager.GetInstance.ActiveUser != null)
                                        {
                                            if (ShriVivah.Models.SessionManager.GetInstance.ActiveUser.UserType == "Admin")
                                            {
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Masters<span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="@Url.Action("Index", "BloodGroup")">Blood Group</a></li>
                                                        <li><a href="@Url.Action("Index", "Country")">Country</a></li>
                                                        <li><a href="@Url.Action("Index", "State")">State</a></li>
                                                        <li><a href="@Url.Action("Index", "Oras")">Moon Sign</a></li>
                                                        <li><a href="@Url.Action("Index", "Religion")">Religion</a></li>
                                                        <li><a href="@Url.Action("Index", "Cast")">Cast</a></li>
                                                        <li><a href="@Url.Action("Index", "PendingUSers")">Pending Users</a></li>
                                                        <li><a href="@Url.Action("Index", "PendingUSers")">Inactive Users</a></li>
                                                        <li><a href="@Url.Action("Index", "PaymentDetails")">Payment Details</a></li>
                                                        <li><a href="@Url.Action("RegisterFromAdmin", "UserProfile")">Register</a></li>
                                                        <li><a href="@Url.Action("Index", "MarriedUsers")">Married Users</a></li>
                                                        <li><a href="@Url.Action("Index", "EventManagement")">Events &amp; Functions</a></li>
                                                        <li><a href="@Url.Action("Index", "Feedback")">Feedback</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="@Url.Action("SearchRequests", "UserProfile")">Regular Search</a></li>
                                                        <li><a href="@Url.Action("SearchRequests", "UserProfile")">Search Profile ID</a></li>
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="@Url.Action("ShowProfile", "UserProfile",new { ProfileId = ShriVivah.Models.SessionManager.GetInstance.ActiveUser.UserId})">My Profile</a></li>
                                                        @if (ShriVivah.Models.SessionManager.GetInstance.ActiveUser.Gender == "F")
                                                        {
                                                            <li><a href="@Url.Action("Visitors", "UserProfile")">Who Viewed my Profile</a></li>
                                                        }
                                                        <li><a href="@Url.Action("Index", "MyRequests")">Requests</a></li>
                                                        <li><a href="@Url.Action("Index", "MyRequests")">Shortlisted Profile</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="@Url.Action("SearchRequests", "UserProfile")">Regular Search</a></li>
                                                        <li><a href="@Url.Action("SearchRequests", "UserProfile")">Search By Profile ID</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile<span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="@Url.Action("UploadPhotos", "UserProfile")">Upload Photos</a></li>
                                                        <li><a href="@Url.Action("EditProfile", "UserProfile")">Edit Profile</a></li>
                                                    </ul>
                                                </li>
                                            }
                                        }
                                        @if (ShriVivah.Models.SessionManager.GetInstance.ActiveUser == null)
                                        {
                                            <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                                            <li><a href="@Url.Action("Register", "Account")">Login</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("LogOff", "Account")">Log Off</a></li>
                                        }
                                        <li class="last"><a href="@Url.Action("Contact","Home")">Contacts</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </nav>
                        </div>
                        <!-- end pull-right -->
                        <div class="clearfix"> </div>
                    </div> <!-- end container -->
                </div>
            </div> <!-- end container -->
        </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
    <!-- ============================  Navigation End ============================ -->

    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="col-md-4 col_2">
                <h4>About Us</h4>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris."</p>
            </div>
            <div class="col-md-2 col_2">
                <h4>Help & Support</h4>
                <ul class="footer_links">
                    <li><a href="#">24x7 Live help</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact us</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-2 col_2">
                <h4>Quick Links</h4>
                <ul class="footer_links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
            <div class="col-md-2 col_2">
                <h4>Social</h4>
                <ul class="footer_social">
                    <li><a href="#"><i class="fa fa-facebook fa1"> </i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa1"> </i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus fa1"> </i></a></li>
                    <li><a href="#"><i class="fa fa-youtube fa1"> </i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="copy">
                <p>Copyright © 2015 Sindhu Matri </p>
            </div>
        </div>
    </div>
    <div class="mainLoader" id="rclLoader" style="display: none;">
        <div class="mainLoaderImg"></div>
        <div class="lyfBg"></div>
    </div>
</body>
</html>
