@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSPMO.cshtml";
}
@Scripts.Render("~/Scripts/Main/jquery.date-dropdowns.min.js")
@Scripts.Render("~/Scripts/Main/EventController.js")
<script type="text/javascript">
    $(function () {
        var dt=new Date();
        $("#EventDate").dateDropdowns({
            maxYear: 2050,
            minYear:dt.getFullYear(),
        });
    });
</script>
<div class="grid-3">
    <div class="container">
        <div class="headerdiv">Event &amp; Function Details</div>
        <div class="form-horizontal" data-ng-app="VarmalaVivahApp" data-ng-controller="EventController">
            <div class="span_3" id="divMain" data-ng-show="Details==true">
                <div class="col-md-12 divPadding1">
                    <div class="col-md-8">
                        <input type="text" id="txtSearch" placeholder="Name, Address, Panchayat Code, Mobile No" class="form-control inputborder" data-ng-model="Prefix" data-ng-change="FilterList()" />
                    </div>
                    <div class="col-md-4">
                        <input type="hidden" value="agent" id="pagename" />
                        <input type="button" value="Search" class="btn btn-default" id="btnSearch" data-ng-click="FilterList()" />
                        <input type="button" value=" Reset " class="btn btn-default" id="btnReset" data-ng-click="GetEventData()" />
                        <input type="button" value=" New" class="btn btn-default" data-ng-click="AddNewUI()" />
                    </div>
                </div>
                <div class="bs-example1" data-example-id="contextual-table">
                    <table class="table table-bordered" id="SubCategoryInfo">
                        <thead>
                            <tr>
                                <th style="display:none">Event Id</th>
                                <th>Event Name</th>
                                <th>Event Location</th>
                                <th>Event Date</th>
                                <th>State</th>
                                <th>Contact Person</th>
                                <th>Mobile No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active" data-ng-repeat="event in SearchEventList">
                                <td style="display:none">{{event.EventId}}</td>
                                <td>{{event.EventName}}</td>
                                <td>{{event.EventLocation}}</td>
                                <td>{{event.EventDate | mydate | date: 'dd-MM-yyyy'}}</td>
                                <td>{{event.EventState}}</td>
                                <td>{{event.ContactPerson}}</td>
                                <td>
                                    {{event.MobileNo}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 page_1">
                    <nav>
                        <ul class="pagination">
                            <li><a href="#" aria-label="First" id="btnFirst"><span aria-hidden="true"><<</span></a></li>
                            <li><a href="#" aria-label="Previous" id="btnPrev"><span aria-hidden="true"><</span></a></li>
                            <li><a href="#" aria-label="Nex" id="btnNext"><span aria-hidden="true">></span></a></li>
                            <li><a href="#" aria-label="Last" id="btnLast"><span aria-hidden="true">>></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="form-group" id="contentdiv" data-ng-show="Add==true || Edit==true">
                <div id="divPersonal">
                    <div class="col-md-12 divPadding">
                        <div class="form">
                            <input type="hidden" id="pagename" value="registeruser" />
                            <hr />
                            <ng-form class="contactForm">
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <input type="text" placeholder="Event Name*" id="EventName" maxlength="40" 
                                               class="form-control inputborder" />
                                        <span class="h3color" style="display:none" id="IsEventName">
                                            {{ErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <input type="hidden" id="EventDate" />
                                        <span class="h3color" style="display:none" id="IsEventDate">
                                            {{ErrorMessage}}
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <input type="text" placeholder="Event Location*" id="EventLocation" 
                                               maxlength="40" class="form-control inputborder" />
                                        <span class="h3color" style="display:none" id="IsEventLocation">
                                            {{ErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <input type="text" placeholder="Event District" id="EventDistrict"
                                               maxlength="40" class="form-control inputborder" />
                                        <span class="h3color" style="display:none" id="IsEventDistrict">
                                            {{ErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        @Html.DropDownList("StateId", ViewBag.StateId as SelectList, new { @class = "form-control inputborder" })
                                        <span class="h3color" style="display:none" id="IsEventState">
                                            {{ErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12" style="display:none">
                                    <div class="form-group col-md-4">
                                        @Html.DropDownList("AgentId", ViewBag.AgentId as SelectList, new { @class = "form-control inputborder" })
                                        <span class="h3color" style="display:none" id="IsOrganizedBy">
                                            {{ErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <input type="text" id="ContactPerson" placeholder="Contact Person." class="form-control inputborder" maxlength="250" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <input type="number" id="ContactNo" placeholder="Contact No*"  class="form-control inputborder" />
                                        <span class="h3color" style="display:none" id="IsContactNoLength">
                                            {{ErrorMessage}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <button id="uploadEvent" class="btn btn-primary" type="button">Event Image!</button>
                                            <input type="hidden" id="EventImagehidden" />
                                            <input id="EventImage" type="file" style="display:none" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <button class="btn btn-default" data-ng-click="SaveEvent()">Save</button>
                                        <button class="btn btn-default" data-ng-click="Cancel()">Cancel</button>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
         $(document).ready(function () {
             $("#uploadEvent").click(function () {
                 files = $("#EventImage").get(0).files;
                 if (files.length==0) {
                     $("#EventImage").trigger("click");
                 }
                 else {
                     Upload();
                 }
             })
             $("#EventImage").change(function () {
                 $("#uploadEvent").trigger("click");
             });
             
         })
         function Upload()
         {
             ShowLoader();
             var data = new FormData();
             var files = $("#EventImage").get(0).files;
             if (files.length > 0) {
                 data.append("EventImage", files[0]);
             }
             $.ajax({
                 url: "@Url.Action("Upload", "EventManagement")",
                 type: "POST",
                 processData: false,
                 contentType: false,
                 data: data,
                 success: function (response) {
                     HideLoader();
                     var objShowCustomAlert = new ShowCustomAlert({
                         Title: "",
                         Message: "Image uploaded successfully.",
                         Type: "alert",
                     });
                     objShowCustomAlert.ShowCustomAlertBox();
                     $("#EventImagehidden").val(response)
                 },
                 error: function (er) {
                     alert(er.responseText);
                     HideLoader();
                 }
             });
         }
</script>