@model IEnumerable<ShriVivah.Models.Entities.tblGan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnFirst,#btnNext,#btnPrev,#btnLast").click(function () {
            //var spinner = new Spinner().spin();
            //document.getElementById("contentdiv").appendChild(spinner.el);
            var btnId = $(this).attr("id");
            var urluse = "";
            if (btnId == "btnFirst") {
                urluse = '@Url.Action("GanFirst", "Gan")';
            }
            if (btnId == "btnNext") {
                urluse = '@Url.Action("GanNext", "Gan")';
            }
            if (btnId == "btnPrev") {
                urluse = '@Url.Action("GanPrev", "Gan")';
            }
            if (btnId == "btnLast") {
                urluse = '@Url.Action("GanLast", "Gan")';
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: urluse,
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.GanList);
                    }
                    else {
                        alert(students.ErrorMessage);
                    }
                }
            });
        });
        $("#btnSearch").click(function () {
            var prefix = $("#txtSearch").val();
            if (prefix == "") {
                alert("Please fill search text!");
                return false;
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { prefix: prefix },
                url: '@Url.Action("Search", "Gan")',
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.GanList);
                    }
                    else {
                        alert(students.ErrorMessage);
                    }
                }
            });
        });

        $("#btnReset").click(function () {
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: '@Url.Action("Reset", "Gan")',
                dataType: "json",
                success: function (students) {
                    $("#txtSearch").val("");
                    $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                    bindUserData(students);
                }
            });
        });

        //$("a").click(function () {
        //    var BGId = this.id;
        //    Edit(BGId);
        //});

        $("#btnSave").click(function () {
            var model = $('#frmGan').serialize();
            $("#frmGan").validate();
            if ($("#frmGan").valid()) {
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.Action("AddGan", "Gan")',
                    data: model,
                    success: function (data) {
                        if (data.Status == true) {
                            $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                            bindUserData(data.GanList);
                            $("#btnCancel").trigger("click");
                        }
                        else {
                            //ShowAlert('error', data.ErrorMessage);
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error during process: \n' + xhr.responseText);
                    }
                });
            }
        });
        $("#btnUpdate").click(function () {
            var model = $('#frmGan').serialize();
            $("#frmGan").validate();
            if ($("#frmGan").valid()) {
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.Action("Update", "Gan")',
                    data: model,
                    success: function (data) {
                        if (data.Status == true) {
                            $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                            bindUserData(data.GanList);
                            alert(data.ErrorMessage);
                            $("#btnCancel").trigger("click");
                        }
                        else {
                            alert(data.ErrorMessage);
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error during process: \n' + xhr.responseText);
                    }
                });
            }
        });

        $("#btnCancel").click(function () {
            $("#createDiv").hide();
            $("#divMain").show();
            $("#GanId").val("");
            $("#GanName").val("");
            return false;
        });
        $("#btnAdd").click(function () {
            $("#createDiv").show();
            $("#divMain").hide();
            $("#GanId").val("");
            $("#GanName").val("");
            $("#btnSave").show();
            $("#btnUpdate").hide();
            return false;
        });
    });

    var bindUserData = function (SubCategory) {
        var table = document.getElementById("SubCategoryInfo");
        var tbody = document.createElement("tbody");
        $.each(SubCategory, function (i, SubCategorydata) {
            var row = document.createElement("tr");

            var cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.GanId;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.GanName;
            row.appendChild(cell);

            cell = document.createElement("td");
            var btn = document.createElement("input");
            btn.id = SubCategorydata.GanId;
            $(btn).attr("type", "button");
            $(btn).addClass("btn-success btn");
            $(btn).val("बदल करा");
            //<input type="button" class="btn-success btn" value="Edit" onclick="EditReligion(item.ReligionId);" />
            //btn.innerHTML = "Edit";
            //cell.appendChild(a);
            $(btn).attr("onclick", "EditGan(" + SubCategorydata.GanId + ");")
            //$(a).click(function () {
            //    var BGId = this.id;
            //    Edit(BgId);
            //});
            cell.appendChild(btn);

            row.appendChild(cell);
            tbody.appendChild(row);
            table.appendChild(tbody);
        });
    };

    function EditGan(BGId)
    {
        if (BGId > 0) {
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { BGId: BGId },
                url: '@Url.Action("Edit", "Gan")',
                dataType: "json",
                success: function (students) {
                    $("#btnAdd").trigger("click");
                    $("#GanName").val(students.GanName);
                    $("#GanId").val(students.GanId);
                    $("#btnSave").hide();
                    $("#btnUpdate").show();
                }
            });
        }
    }
</script>
<div class="span_3" id="divMain">
    <div class="span_3">
        <input type="text" id="txtSearch" />
        <input type="button" value="Search" class="btn btn-default" id="btnSearch" />
        <input type="button" value="   Reset  " class="btn btn-default" id="btnReset" />
        <input type="button" value="   New" class="btn btn-default" id="btnAdd" />
    </div>
    <div class="bs-example1" data-example-id="contextual-table">
        <table class="table" id="SubCategoryInfo">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Gan Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td>@item.GanId</td>
                        <td>@item.GanName</td>
                        <td>
                            <input type="button" class="btn-success btn" value="Edit" onclick="EditReligion(@item.GanId);" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6 page_1">
        <nav>
            <ul class="pagination">
                <li><a href="#" aria-label="First" id="btnFirst"><span aria-hidden="true"><<</span></a></li>
                <li><a href="#" aria-label="Previous" id="btnPrev"><span aria-hidden="true"><</span></a></li>
                <li><a href="#" aria-label="Nex" id="btnNext"><span aria-hidden="true">></span></a></li>
                <li><a href="#" aria-label="Last" id="btnLast"><span aria-hidden="true">>></span></a></li>
            </ul>
        </nav>
    </div>
</div>
<div id="createDiv" class="span_3" style="display:none">
    @Html.Partial("_AddGan", new ShriVivah.Models.Entities.tblGan())
</div>