@model IEnumerable<ShriVivah.Models.Entities.STP_GetUserDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSPMO.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnFirst,#btnNext,#btnPrev,#btnLast,#btnReset").click(function () {
            
            ShowLoader();
            var btnId = $(this).attr("id");
            var urluse = "";
            if (btnId == "btnFirst") {
                urluse = '@Url.Action("PendingUsersFirst", "PendingUsers")';
            }
            if (btnId == "btnNext") {
                urluse = '@Url.Action("PendingUsersNext", "PendingUsers")';
            }
            if (btnId == "btnPrev") {
                urluse = '@Url.Action("PendingUsersPrev", "PendingUsers")';
            }
            if (btnId == "btnLast") {
                urluse = '@Url.Action("PendingUsersLast", "PendingUsers")';
            }
            if (btnId == "btnReset") {
                urluse = '@Url.Action("Reset", "PendingUsers")';
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: urluse,
                dataType: "json",
                success: function (students) {
                    if (btnId == "btnReset") {
                        $("#txtSearch").val("");
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students);
                    }
                    else {
                        if (students.Status == true) {
                            $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                            bindUserData(students.UserList);
                        }
                        else {
                            var objShowCustomAlert = new ShowCustomAlert({
                                Title: "",
                                Message: students.ErrorMessage,
                                Type: "alert",
                            });
                            objShowCustomAlert.ShowCustomAlertBox();
                        }
                    }
                    HideLoader();
                },
                error: function (data)
                {
                    HideLoader();
                }
            });
        });
        $("#btnSearch").click(function () {
            
            ShowLoader();
            var prefix = $("#txtSearch").val();
            if (prefix == "") {
                alert("Please fill search text!");
                return false;
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { prefix: prefix },
                url: '@Url.Action("Search", "PendingUsers")',
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.UserList);
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: students.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    HideLoader();
                },
                error: function (data)
                {
                    HideLoader();
                }
            });
        });
        
    });

    var bindUserData = function (SubCategory) {
        var table = document.getElementById("SubCategoryInfo");
        var tbody = document.createElement("tbody");
        $.each(SubCategory, function (i, SubCategorydata) {
            var row = document.createElement("tr");
            $(row).attr("id", SubCategorydata.ContactUsId);
            var cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.PanchayatCode;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.FirstName;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.LName;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.MailId;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.MobileNo;
            row.appendChild(cell);

            var dob = SubCategorydata.DateOfBirth == null || SubCategorydata.DateOfBirth == "" || SubCategorydata.DateOfBirth===undefined ? "" : parseJsonDate(SubCategorydata.DateOfBirth);
            cell = document.createElement("td");
            cell.innerHTML = dob;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = "<span class='glyphicon glyphicon-envelope' title='Mail' onclick=\"SendMail('" + SubCategorydata.UserId + "')\"></span>";
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = "<span class='glyphicon glyphicon-envelope' title='SMS' onclick='SendSMS(" + SubCategorydata.UserId + ")'></span>";
            row.appendChild(cell);

            cell = document.createElement("td");
            
            if (SubCategorydata.IsActive) {
                //cell.innerHTML = "<span class='glyphicon glyphicon-remove' title='Deactivate' onclick='ActivateDeactivateUser('" + SubCategorydata.UserId + "',this)' data-item='" + dob + "'>Deactivate</span>";
            }
            else {
                cell.innerHTML = "<span class='glyphicon glyphicon-ok' title='Activate' onclick='ActivateDeactivateUser(\"" + SubCategorydata.UserId + "\",this)' data-item='" + dob + "'></span>";
            }
            row.appendChild(cell);

            tbody.appendChild(row);
            table.appendChild(tbody);
        });
    };

    function ActivateDeactivateUser(UserId, element)
    {
        var dobexistornot = $(element).attr("data-item");
        if (dobexistornot=="") {
            var objShowCustomAlert = new ShowCustomAlert({
                Title: "",
                Message: "Due to incomplete information. Account will not activated.",
                Type: "alert",
            });
            objShowCustomAlert.ShowCustomAlertBox();
        }
        else {
            
            ShowLoader();
            var url = '@Url.Action("ActivateUser", "PendingUsers")';
            url = url + "?UserId=" + UserId;// + "&Name=" + Name;
            $.ajax({
                cache: false,
                type: "Post",
                async: false,
                url: url,
                dataType: "json",
                success: function (students) {
                    var objShowCustomAlert = new ShowCustomAlert({
                        Title: "",
                        Message: "User Activated successfully.",
                        Type: "alert",
                    });
                    objShowCustomAlert.ShowCustomAlertBox();
                    HideLoader();
                    $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                    bindUserData(students);
                },
                error: function (data) {
                    var objShowCustomAlert = new ShowCustomAlert({
                        Title: "",
                        Message: "Not able to send mail." + data.responseText,
                        Type: "alert",
                    });
                    objShowCustomAlert.ShowCustomAlertBox();
                    HideLoader();
                }
            });
        }
    }

    function SendMail(UserId) {
        
        ShowLoader();
        var url='@Url.Action("SendMail", "PendingUsers")';
        url = url + "?UserId=" + UserId;// + "&Name=" + Name;
        $.ajax({
            cache: false,
            type: "Post",
            async: false,
            url: url,
            dataType: "json",
            success: function (students) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "Mail Send successfully",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                HideLoader();
            },
            error: function (data) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "Not able to send mail." + data.responseText,
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                HideLoader();
            }
        });
    }

    function SendSMS(UserId)
    {
        
        ShowLoader();
        var url = '@Url.Action("SendSMS", "PendingUsers")';
        url = url + "?UserId=" + UserId;//$("#smsapi").val() + "&mobiles=" + MobileNo + "&message=Please complete your profile to find your match&sender= VARMALAVIVAH&route=4&country=91";
        $.ajax({
            cache: false,
            type: "POST",
            async: false,
            url: url,
            dataType: "json",
            success: function (students) {
                console.log(students);
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "SMS Send successfully",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                HideLoader();
            },
            error: function (data) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "Not able to send sms." + data.responseText,
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                HideLoader();
            }
        });
    }
</script>
<div class="grid-3">
    <div class="container">
        <div class="span_3" id="divMain">
            <div class="col-md-12">
                <div class="headerdiv">Pending Users</div>
            </div>
            <div class="col-md-12 divPadding1">
                <div class="col-md-9">
                    <input type="text" id="txtSearch" class="form-control inputborder" />
                </div>
                <div class="col-md-3">
                    <input type="button" value="Search" class="btn btn-default" id="btnSearch" />
                    <input type="button" value=" Reset " class="btn btn-default" id="btnReset" />
                </div>
            </div>
            <div class="bs-example1" data-example-id="contextual-table">
                <table class="table table-bordered" id="SubCategoryInfo">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mail Id</th>
                            <th>Mobile No</th>
                            <th>DOB</th>
                            <th>Mail</th>
                            <th>SMS</th>
                            <th><span class="glyphicon glyphicon-ok" title="Activate"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="active">
                                <td>@item.PanchayatCode</td>
                                <td>@item.FirstName</td>
                                <td>@item.LName</td>
                                <td>@item.MailId</td>
                                <td>@item.MobileNo</td>
                                <td>@String.Format("{0:dd-MM-yyyy}", item.DateOfBirth)</td>
                                <td><span class="glyphicon glyphicon-envelope" title="Mail" onclick="SendMail('@item.UserId')"></span></td>
                                <td><span class="glyphicon glyphicon-comment" title="SMS" onclick="SendSMS(@item.UserId)"></span></td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        //<span class="glyphicon glyphicon-remove" title="Deactivate" onclick="ActivateDeactivateUser('@item.UserId',this)" data-item="@item.DateOfBirth"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-ok" title="Activate" onclick="ActivateDeactivateUser('@item.UserId',this)" data-item="@item.DateOfBirth"></span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 page_1">
                <nav>
                    <ul class="pagination">
                        <li><a href="#" aria-label="First" id="btnFirst"><span aria-hidden="true"><<</span></a></li>
                        <li><a href="#" aria-label="Previous" id="btnPrev"><span aria-hidden="true"><</span></a></li>
                        <li><a href="#" aria-label="Nex" id="btnNext"><span aria-hidden="true">></span></a></li>
                        <li><a href="#" aria-label="Last" id="btnLast"><span aria-hidden="true">>></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
