@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutSPMO.cshtml";
}
<div class="grid_3" style="padding:0px;">
    <div class="container">
        <div class="breadcrumb1">
            <ul>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home home_1"></i></a>
                <span class="divider">&nbsp;|&nbsp;</span>
                <li class="current-page">About</li>
            </ul>
        </div>
        <div class="about">
            <div class="col-md-6 about_left">
                <img src="@Url.Content("~/Content/SPMO/SINDHI/images/a3.jpg")" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6 about_right">
                <h1>About us</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <div class="accordation">
                    <div class="jb-accordion-wrapper">
                        <div class="jb-accordion-title">Accordion 1 <button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion-1-"><i class="fa fa-angle-down"> </i></button></div>
                        <p>
                            <!-- /.accordion-title -->
                        </p><div id="accordion-1-" class="jb-accordion-content collapse in" style="height: auto;">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae...</p>
                        </div>
                        <p><!-- /.collapse --></p>
                    </div>
                    <div class="jb-accordion-wrapper">
                        <div class="jb-accordion-title">Accordion2 <button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion2-"><i class="fa fa-angle-down"> </i></button></div>
                        <p>
                            <!-- /.accordion-title -->
                        </p><div id="accordion2-" class="jb-accordion-content collapse ">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt </p>
                        </div>
                        <p><!-- /.collapse --></p>
                    </div>
                    <div class="jb-accordion-wrapper">
                        <div class="jb-accordion-title">Accordion3<button type="button" class="jb-accordion-button" data-toggle="collapse" data-target="#accordion3"><i class="fa fa-angle-down"> </i></button></div>
                        <p>
                            <!-- /.accordion-title -->
                        </p><div id="accordion3" class="jb-accordion-content collapse ">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt </p>
                        </div>
                        <p><!-- /.collapse --></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="about_bottom" style="padding:2em 0">
    <div class="container">
        <h3>Our Inspirations</h3>
        <div class="col-md-12">
            <div class="col-md-3 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/GobindramPherwani.jpg")" class="img-responsive inspirationimg" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px"></div>
                            <div style="text-align:center;color:maroon;font-size:18px">Late Shri Gobindram Pherwani</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/LeelaramTahilani.jpg")" class="img-responsive inspirationimg" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px"></div>
                            <div style="text-align:center;color:maroon;font-size:18px">Shri Leelaram Tahilani</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/Founder.jpg")" class="img-responsive inspirationimg" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px"></div>
                            <div style="text-align:center;color:maroon;font-size:18px">Late Shri Naraindas Khubchandani</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/LaxmanVasvani.jpg")" class="img-responsive inspirationimg" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px"></div>
                            <div style="text-align:center;color:maroon;font-size:18px">Shri Laxman Vasvani</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <br />
        
    </div>
</div>
<div class="grid-3">
    <div class="container">
        <div class="headerdiv">Honourable Director's</div>
        <div class="col-md-12">
            <div class="col-md-1 about_grid1">
            </div>
            <div class="col-md-2 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/President.jpg")" class="img-responsive" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px">President</div>
                            <div style="text-align:center;color:maroon;font-size:18px">Shri Parmanand  Jhamtani</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/Vice_President.jpg")" class="img-responsive" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px">Vice President</div>
                            <div style="text-align:center;color:maroon;font-size:18px">Smt Kala Bhagia</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/Gen_Secretary.jpg")" class="img-responsive" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px">Secretary</div>
                            <div style="text-align:center;color:maroon;font-size:18px">Shri Jawahar Kotwani</div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-md-2 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/JS_KAhuja.jpg")" class="img-responsive" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px">Jt. Secretary</div>
                            <div style="text-align:center;color:maroon;font-size:18px">Shri Kanayalal Ahuja</div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-md-2 about_grid1">
                <ul class="posts-grid our-team">
                    <li class="list-item-1">
                        <figure class="thumbnail_1 thumbnail">
                            <a href="#"><img src="@Url.Content("~/Content/SPMO/SINDHI/images/Directors/Treasurer.jpg")" class="img-responsive" alt="" /></a>
                        </figure>
                        <div class="desc">
                            <div style="text-align:center;color:maroon;font-size:18px">Treasurer</div>
                            <div style="text-align:center;color:maroon;font-size:18px">Shri Kumar Motwani</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 about_grid1">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Sr. No.
                        </th>
                        <th>
                            Member Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>SMT. ANITA JETHANI</td></tr>
                    <tr><td>2</td><td>SHRI ASHOK PUNJABI</td></tr>
                    <tr><td>3</td><td>SHRI. BHARAT KUKREJA</td></tr>
                    <tr><td>4</td><td>SMT. CHANDA KUKREJA</td></tr>
                    <tr><td>5</td><td>SMT.CHANDER JESWANI</td></tr>
                    <tr><td>6</td><td>SHRI HARENDRA TULSANI</td></tr>
                    <tr><td>7</td><td>SHRI HIRO PAHUJA</td></tr>
                    <tr><td>8</td><td>SHRI JANKI RAMCHANDANI</td></tr>
                    <tr><td>9</td><td>SHRI JOHNY THADANI</td></tr>
                    <tr><td>10</td><td>SHRI MANISHA KARAMCHANDANI</td></tr>
                    <tr><td>11</td><td>SHRI MANOHAR JETHWANI</td></tr>
                    <tr><td>12</td><td>SHRI MOHINI VASWANI</td></tr>
                    <tr><td>13</td><td>SHRI MOTI CHUGWANI</td></tr>
                    <tr><td>14</td><td>SHRI PADMA PARWANI</td></tr>
                    <tr><td>15</td><td>SHRI RAJU KHUBCHANDANI</td></tr>
                    <tr><td>16</td><td>SHRI RAMESH MIRANI</td></tr>
                    <tr><td>17</td><td>SMT. RAMESH MOTWANI</td></tr>
                    <tr><td>18</td><td>SMT.SAVITRI CHETWANI</td></tr>
                    <tr><td>19</td><td>SMT.SHAKU BHATIA</td></tr>
                    <tr><td>20</td><td>SHRI SHOBHA DAKHNEJA</td></tr>
                    <tr><td>21</td><td>SHRI SHYAM TILOKCHANDANI</td></tr>
                    <tr><td>22</td><td>SMT.SRICHAND NAGRANI</td></tr>
                    <tr><td>23</td><td>SHRI SURENDER MANGHWANI</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
