@model IEnumerable<ShriVivah.Models.Entities.tblQualification>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSPMO.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnFirst,#btnNext,#btnPrev,#btnLast").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var btnId = $(this).attr("id");
            var urluse = "";
            if (btnId == "btnFirst") {
                urluse = '@Url.Action("QualificationFirst", "Qualification")';
            }
            if (btnId == "btnNext") {
                urluse = '@Url.Action("QualificationNext", "Qualification")';
            }
            if (btnId == "btnPrev") {
                urluse = '@Url.Action("QualificationPrev", "Qualification")';
            }
            if (btnId == "btnLast") {
                urluse = '@Url.Action("QualificationLast", "Qualification")';
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: urluse,
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.QualificationList);
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: students.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (data)
                {
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });
        $("#btnSearch").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var prefix = $("#txtSearch").val();
            if (prefix == "") {
                alert("Please fill search text!");
                return false;
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { prefix: prefix },
                url: '@Url.Action("Search", "Qualification")',
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.QualificationList);
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: students.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (data)
                {
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnReset").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: '@Url.Action("Reset", "Qualification")',
                dataType: "json",
                success: function (students) {
                    $("#txtSearch").val("");
                    $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                    bindUserData(students);
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnSave").click(function () {
            var model = $('#frmQualification').serialize();
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("AddOras", "Qualification")',
                data: model,
                success: function (data) {
                    if (data.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(data.QualificationList);
                        $("#btnCancel").trigger("click");
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error during process: \n' + xhr.responseText);
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnUpdate").click(function () {
            var model = $('#frmQualification').serialize();
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);

            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("Update", "Qualification")',
                data: model,
                success: function (data) {
                    if (data.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(data.QualificationList);
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                        $("#btnCancel").trigger("click");
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error during process: \n' + xhr.responseText);
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnCancel").click(function () {
            $("#createDiv").hide();
            $("#divMain").show();
            $("#QualificationId").val("");
            $("#DegreeName").val("");
            return false;
        });
        $("#btnAdd").click(function () {
            $("#createDiv").show();
            $("#divMain").hide();
            $("#QualificationId").val("");
            $("#DegreeName").val("");
            $("#btnSave").show();
            $("#btnUpdate").hide();
            return false;
        });
    });

    var bindUserData = function (SubCategory) {
        var table = document.getElementById("SubCategoryInfo");
        var tbody = document.createElement("tbody");
        $.each(SubCategory, function (i, SubCategorydata) {
            var row = document.createElement("tr");

            var cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.QualificationId;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.DegreeName;
            row.appendChild(cell);

            cell = document.createElement("td");
            var btn = document.createElement("input");
            btn.id = SubCategorydata.QualificationId;
            $(btn).attr("type", "button");
            $(btn).addClass("btn-success btn");
            $(btn).val("Edit");
            $(btn).attr("onclick", "EditQualification(" + SubCategorydata.QualificationId + ");")
            cell.appendChild(btn);
            row.appendChild(cell);
            tbody.appendChild(row);
            table.appendChild(tbody);
        });
    };

    function EditQualification(BGId)
    {
        var spinner = new Spinner().spin();
        document.getElementById("contentdiv").appendChild(spinner.el);
        if (BGId > 0) {
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { BGId: BGId },
                url: '@Url.Action("Edit", "Qualification")',
                dataType: "json",
                success: function (students) {
                    $("#btnAdd").trigger("click");
                    $("#DegreeName").val(students.DegreeName);
                    $("#QualificationId").val(students.QualificationId);
                    $("#btnSave").hide();
                    $("#btnUpdate").show();
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        }
    }
</script>
<div class="span_3" id="divMain">
    <div class="col-md-12 divPadding1">
        <div class="col-md-9">
            <input type="text" id="txtSearch" class="form-control1 inputborder" />
        </div>
        <div class="col-md-3">
            <input type="button" value="Search" class="btn btn-default" id="btnSearch" />
            <input type="button" value=" Reset " class="btn btn-default" id="btnReset" />
            <input type="button" value=" New" class="btn btn-default" id="btnAdd" />
        </div>
    </div>
    <div class="bs-example1" data-example-id="contextual-table">
        <table class="table table-bordered" id="SubCategoryInfo">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Course Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td>@item.QualificationId</td>
                        <td>@item.DegreeName</td>
                        <td>
                            <input type="button" class="btn-success btn" value="Edit" onclick="EditQualification(@item.QualificationId);" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6 page_1">
        <nav>
            <ul class="pagination">
                <li><a href="#" aria-label="First" id="btnFirst"><span aria-hidden="true"><<</span></a></li>
                <li><a href="#" aria-label="Previous" id="btnPrev"><span aria-hidden="true"><</span></a></li>
                <li><a href="#" aria-label="Nex" id="btnNext"><span aria-hidden="true">></span></a></li>
                <li><a href="#" aria-label="Last" id="btnLast"><span aria-hidden="true">>></span></a></li>
            </ul>
        </nav>
    </div>
</div>
<div id="createDiv" class="span_3" style="display:none">
    @Html.Partial("_AddQualificationSPMO", new ShriVivah.Models.Entities.tblQualification())
</div>
