@model ShriVivah.Models.Entities.tblOras

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmOras" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.OrasId)
    <div class="form-horizontal">
        <h4>Moon Sign Information</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                <span>Moon Sign Name</span>
                @Html.TextBoxFor(model => model.OrasName, new { @class = "form-control1 inputborder" })
                @Html.ValidationMessageFor(model => model.OrasName)
            </div>
        </div>
        <div class="span_3">
            <input type="button" value="Save" class="btn btn-default" id="btnSave" />
            <input type="button" value="Update" class="btn btn-default" id="btnUpdate" />
            <input type="button" value="Cancel" class="btn btn-default" id="btnCancel" />
        </div>
    </div>
}
