@model IQueryable<ShriVivah.Models.Entities.STP_GetUserDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSPMO.cshtml";
}
<style type="text/css">
    .btnPadding {
        padding:3.5px 8px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnFirst,#btnNext,#btnPrev,#btnLast").click(function () {
            var btnId = $(this).attr("id");
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var urluse = "";
            if (btnId == "btnFirst") {
                urluse = '@Url.Action("AgentFirst", "Agent")';
            }
            if (btnId == "btnNext") {
                urluse = '@Url.Action("AgentNext", "Agent")';
            }
            if (btnId == "btnPrev") {
                urluse = '@Url.Action("AgentPrev", "Agent")';
            }
            if (btnId == "btnLast") {
                urluse = '@Url.Action("AgentLast", "Agent")';
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: urluse,
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.UserList);
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: students.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();

                    }
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (data)
                {
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }

            });
        });
        $("#btnSearch").click(function () {
            var prefix = $("#txtSearch").val();
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            if (prefix == "") {
                //alert("Please fill search text!");
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "Fill Search Information.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { prefix: prefix },
                url: '@Url.Action("Search", "Agent")',
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.UserList);
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: students.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (data) {
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnReset").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: '@Url.Action("Reset", "Agent")',
                dataType: "json",
                success: function (students) {
                    $("#txtSearch").val("");
                    $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                    bindUserData(students);
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (data)
                {
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnSave").click(function () {
            if ($("#FirstName").val()=="") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill First Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#LastName").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill Last Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#EmailId").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill EmailId." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if (validateEmail($("#EmailId")) == false) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill valid EmailId." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#City").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill City Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#Password").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill Password." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#State").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill State Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#ContactNo").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill Contact No." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#State").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill State Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            var reg = new RegExp(/^(?![0-9]*$)(?![a-zA-Z]*$)[a-zA-Z0-9]+$/g);
            if (!reg.test($("#Password").val())) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Password should be alphanumeric." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }


            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var model =
                {
                    UserId: $("#UserId").val(),
                    FirstName: $("#FirstName").val(),
                    LastName: $("#LastName").val(),
                    Email: $("#EmailId").val(),
                    City: $("#City").val(),
                    UserName: $("#UserName").val(),
                    Password: $("#Password").val(),
                    UserType: "Agent",
                    Taluka: $("#Taluka").val(),
                    District: $("#District").val(),
                    State: $("#State").val(),
                    Address: $("#Address").val(),
                    MobileNo: $("#ContactNo").val(),
                    UserName: $("#UserName").val(),
                };
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("AddAgent", "Agent")',
                data: model,
                success: function (data) {
                    if (data.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(data.UserList);
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: $("#hdnbranding").val() == "SPMO" ? "Information saved successfully" : "माहिती सेव केली आहे.",
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                        $("#btnCancel").trigger("click");
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error during process: \n' + xhr.responseText);
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });
        $("#UserName").change(function () {

            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var username = $("#UserName").val();
            if (username == "") {
                return false;
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: '@Url.Action("ValidateUserName","Account")',
                data: { username: username },
                dataType: "json",
                success: function (response) {
                    if (response == true) {
                        $("#UserName").val("");
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: "Same user name already used by another user",
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });
        $("#btnUpdate").click(function () {
            if ($("#FirstName").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill First Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#LastName").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill Last Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#EmailId").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill EmailId." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if (validateEmail($("#EmailId")) == false) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill valid EmailId." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#City").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill City Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#Password").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill Password." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#State").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill State Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#ContactNo").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill Contact No." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            if ($("#State").val() == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Please fill State Name." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            var reg = new RegExp(/^(?![0-9]*$)(?![a-zA-Z]*$)[a-zA-Z0-9]+$/g);
            if (!reg.test($("#Password").val())) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: $("#hdnbranding").val() == "SPMO" ? "Password should be alphanumeric." : "माहिती सेव केली आहे.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }

            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var model =
                {
                    UserId: $("#UserId").val(),
                    FirstName: $("#FirstName").val(),
                    LastName: $("#LastName").val(),
                    Email: $("#EmailId").val(),
                    City: $("#City").val(),
                    UserType:"Agent",
                    Taluka: $("#Taluka").val(),
                    District: $("#District").val(),
                    State: $("#State").val(),
                    Address: $("#Address").val(),
                    MobileNo: $("#ContactNo").val(),
                    UserName: $("#UserName").val(),
                    Password: $("#Password").val(),

                };
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("Update", "Agent")',
                data: model,
                success: function (data) {
                    if (data.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(data.UserList);

                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                        $("#btnCancel").trigger("click");
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error during process: \n' + xhr.responseText);
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnCancel").click(function () {
            $("#createDiv").hide();
            $("#divMain").show();
            clearValues();
            return false;
        });
        $("#btnAdd").click(function () {
            $("#createDiv").show();
            $("#divMain").hide();
            clearValues();
            $("#btnSave").show();
            $("#btnUpdate").hide();
            return false;
        });
    });

    var bindUserData = function (SubCategory) {
        var table = document.getElementById("SubCategoryInfo");
        var tbody = document.createElement("tbody");
        $.each(SubCategory, function (i, SubCategorydata) {
            var row = document.createElement("tr");

            var cell = document.createElement("td");
            $(cell).css("display", "none");
            cell.innerHTML = SubCategorydata.UserId;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.PanchayatCode;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.FirstName + " " + SubCategorydata.LName;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.Address;
            row.appendChild(cell);
            //
            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.MailId;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.MobileNo;
            row.appendChild(cell);

            cell = document.createElement("td");
            var btn = document.createElement("input");
            btn.id = SubCategorydata.Userd;
            $(btn).attr("type", "button");
            $(btn).addClass("btn-success btn btnPadding");
            $(btn).val("Edit");
            $(btn).attr("onclick", "EditAgent(" + SubCategorydata.UserId + ");")
            cell.appendChild(btn);

            row.appendChild(cell);

            cell = document.createElement("td");
            var btn = document.createElement("input");
            btn.id = SubCategorydata.Userd;
            $(btn).attr("type", "button");
            $(btn).addClass("btn-success btn btnPadding");
            $(btn).val("Activate");
            $(btn).attr("onclick", "ActivateDeactivate(" + SubCategorydata.UserId + ",this);")
            var active=SubCategorydata.IsActive=='true';
            if(active==false){
                $(btn).val("Deactivate");
                $(btn).attr("onclick", "ActivateDeactivate(" + SubCategorydata.UserId + ",this);")
            }
            cell.appendChild(btn);
            row.appendChild(cell);

            tbody.appendChild(row);
            table.appendChild(tbody);
        });
    };

    function EditAgent(AgentId) {
        var spinner = new Spinner().spin();
        document.getElementById("contentdiv").appendChild(spinner.el);
        if (AgentId > 0) {
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { AgentId: AgentId },
                url: '@Url.Action("Edit", "Agent")',
                dataType: "json",
                success: function (students) {
                    $("#btnAdd").trigger("click");
                    $("#UserId").val(students.UserId);
                    $("#FirstName").val(students.FirstName);
                    $("#LastName").val(students.LastName);
                    $("#EmailId").val(students.Email);
                    $("#ContactNo").val(students.MobileNo);
                    $("#City").val(students.City);
                    $("#UserName").val(students.UserName);
                    $("#Taluka").val(students.Taluka);
                    $("#District").val(students.District);
                    $("#State").val(students.State);
                    $("#Address").val(students.Address);
                    $("#btnSave").hide();
                    $("#btnUpdate").show();
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (data)
                {
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        }
    }

    function ActivateDeactivate(UserId, element) {
        var IsActive = true;
        if ($(element).val() == "Deactivate") {
            IsActive = false;
        }
        var spinner = new Spinner().spin();
        document.getElementById("contentdiv").appendChild(spinner.el);
        $.ajax({
            cache: false,
            type: "GET",
            async: false,
            data: { UserId: UserId, IsActive: IsActive },
            url: '@Url.Action("ActivateDeactivate", "Agent")',
            dataType: "json",
            success: function (students) {
                if (IsActive) {
                    $(element).val("Deactivate");
                }
                else {
                    $(element).val("Activate");
                }
                document.getElementById("contentdiv").removeChild(spinner.el);
            },
            error: function (data) {
                document.getElementById("contentdiv").removeChild(spinner.el);
            }
        });
    }


    function clearValues() {
        $("#UserId").val(0);
        $("#FirstName").val("");
        $("#LastName").val("");
        //$("#Email").val("");
        $("#UserName").val("");
        $("#MobileNo").val("");
        $("#City").val("");
        $("#Taluka").val("");
        $("#District").val("");
        $("#State").val("");
        $("#Address").val("");
        $("#EmailId").val("");
        $("#ContactNo").val("");
        $("#Password").val("");
        $("#ConfirmPassword").val("");
    }


</script>
<div class="span_3" id="divMain">
    <div class="col-md-12 divPadding1">
        <div class="col-md-8">
            <input type="text" id="txtSearch" placeholder="Name, Address, Panchayat Code, Mobile No" class="form-control1 inputborder" />
        </div>
        <div class="col-md-4">
            <input type="hidden" value="agent" id="pagename" />
            <input type="button" value="Search" class="btn btn-default" id="btnSearch" />
            <input type="button" value=" Reset " class="btn btn-default" id="btnReset" />
            <input type="button" value=" New" class="btn btn-default" id="btnAdd" />
        </div>
    </div>
    <div class="bs-example1" data-example-id="contextual-table">
        <table class="table table-bordered" id="SubCategoryInfo">
            <thead>
                <tr>
                    <th style="display:none">Sr. No.</th>
                    <th>P Code</th>
                    <th>Panchayat Name</th>
                    <th>Address</th>
                    <th>E-Mail</th>
                    <th>Mobile No</th>
                    <th>Edit</th>
                    <th>Activatation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td style="display:none">@item.UserId</td>
                        <td>@item.PanchayatCode</td>
                        <td>@item.FirstName &nbsp; @item.LName</td>
                        <td>@item.Address</td>
                        <td>@item.MailId</td>
                        <td>@item.MobileNo</td>
                        <td>
                            <input type="button" class="btn-success btn btnPadding" value="Edit" onclick="EditAgent(@item.UserId);" />
                        </td>
                        <td>
                            @if (item.IsActive != null && Convert.ToBoolean(item.IsActive))
                            {
                                <input type="button" class="btn-success btn btnPadding" value="Deactivate" onclick="ActivateDeactivate(@item.UserId,this);" />
                            }
                            else
                            {
                                <input type="button" class="btn-success btn btnPadding" value="Activate" onclick="ActivateDeactivate(@item.UserId,this);" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6 page_1">
        <nav>
            <ul class="pagination">
                <li><a href="#" aria-label="First" id="btnFirst"><span aria-hidden="true"><<</span></a></li>
                <li><a href="#" aria-label="Previous" id="btnPrev"><span aria-hidden="true"><</span></a></li>
                <li><a href="#" aria-label="Nex" id="btnNext"><span aria-hidden="true">></span></a></li>
                <li><a href="#" aria-label="Last" id="btnLast"><span aria-hidden="true">>></span></a></li>
            </ul>
        </nav>
    </div>
</div>
<div id="createDiv" class="span_3" style="display:none">
    @Html.Partial("_AddAgentSPMO", new ShriVivah.Models.Entities.STP_GetUserDetail())
</div>





