@model ShriVivah.Models.Entities.tblBloodGroup


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmBG" }))
{
    @Html.AntiForgeryToken()
    <div class="span_3">
        <h4>Blood Group</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model=>model.BloodGroupId)
        <div class="span_3">
            <span>Blood Group Name :</span>
            @Html.TextBoxFor(model => model.BloodGroupName)
            @Html.ValidationMessageFor(model => model.BloodGroupName)
        </div>
        <br />
        <div class="span_3">
            <input type="button" value="Save" class="btn btn-default" id="btnSave" />
            <input type="button" value="Update" class="btn btn-default" id="btnUpdate" />
            <input type="button" value="Cancel" class="btn btn-default" id="btnCancel"/>
        </div>
    </div>
}

