@model IQueryable<ShriVivah.Models.VendorTypeModel>
@{
    Layout = "~/Views/Shared/_LayoutAdminSPMO.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnFirst,#btnNext,#btnPrev,#btnLast").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var btnId = $(this).attr("id");
            var urluse = "";
            if (btnId == "btnFirst") {
                urluse = '@Url.Action("VendorTypeFirst", "VendorType")';
            }
            if (btnId == "btnNext") {
                urluse = '@Url.Action("VendorTypeNext", "VendorType")';
            }
            if (btnId == "btnPrev") {
                urluse = '@Url.Action("VendorTypePrev", "VendorType")';
            }
            if (btnId == "btnLast") {
                urluse = '@Url.Action("VendorTypeLast", "VendorType")';
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: urluse,
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.VendorTypeList);
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: students.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });
        $("#btnSearch").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            var prefix = $("#txtSearch").val();
            if (prefix == "") {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "Please fill search text!",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return false;
            }
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { prefix: prefix },
                url: '@Url.Action("Search", "VendorType")',
                dataType: "json",
                success: function (students) {
                    if (students.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(students.VendorTypeList);
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: students.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnReset").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                url: '@Url.Action("Reset", "VendorType")',
                dataType: "json",
                success: function (students) {
                    $("#txtSearch").val("");
                    $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                    bindUserData(students);
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        });

        $("#btnSave").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            if ($("#VendorType").val() === undefined) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "Vendor Type should be filled.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return;
            }
            var model = {
                VendorType : $("#VendorType").val(),
                TypeImagesPath: $("#logoImagehidden").val()
            };
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("AddVendorType", "VendorType")',
                data: model,
                success: function (data) {
                    if (data.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(data.VendorTypeList);
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: "Vendor type inserted successfully.",
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                        $("#btnCancel").trigger("click");
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error during process: \n' + xhr.responseText);
                }
            });
        });
        $("#btnUpdate").click(function () {
            var spinner = new Spinner().spin();
            document.getElementById("contentdiv").appendChild(spinner.el);
            if ($("#VendorType").val()===undefined) {
                var objShowCustomAlert = new ShowCustomAlert({
                    Title: "",
                    Message: "Vendor Type should be filled.",
                    Type: "alert",
                });
                objShowCustomAlert.ShowCustomAlertBox();
                return;
            }
            var model = {
                VendorTypeId:$("#VendorTypeId").val(),
                VendorType: $("#VendorType").val(),
                TypeImagesPath: $("#logoImagehidden").val()
            };
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.Action("Update", "VendorType")',
                data: model,
                success: function (data) {
                    if (data.Status == true) {
                        $('#SubCategoryInfo tr').not(function () { if ($(this).has('th').length) { return true } }).remove();
                        bindUserData(data.VendorTypeList);

                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                        $("#btnCancel").trigger("click");
                    }
                    else {
                        var objShowCustomAlert = new ShowCustomAlert({
                            Title: "",
                            Message: data.ErrorMessage,
                            Type: "alert",
                        });
                        objShowCustomAlert.ShowCustomAlertBox();
                    }
                    document.getElementById("contentdiv").removeChild(spinner.el);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error during process: \n' + xhr.responseText);
                }
            });
        });

        $("#btnCancel").click(function () {
            $("#createDiv").hide();
            $("#divMain").show();
            $("#VendorType").val("");
            $("#VendorTypeId").val("");
            $("#BrandImage").val("");
            $("#logoImagehidden").val();
            return false;
        });
        $("#btnAdd").click(function () {
            $("#createDiv").show();
            $("#divMain").hide();
            $("#VendorType").val("");
            $("#VendorTypeId").val("");
            $("#btnSave").show();
            $("#btnUpdate").hide();
            return false;
        });
    });

    var bindUserData = function (SubCategory) {
        var table = document.getElementById("SubCategoryInfo");
        var tbody = document.createElement("tbody");
        $.each(SubCategory, function (i, SubCategorydata) {
            var row = document.createElement("tr");

            var cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.VendorTypeId;
            row.appendChild(cell);

            cell = document.createElement("td");
            cell.innerHTML = SubCategorydata.VendorType;
            row.appendChild(cell);

            cell = document.createElement("td");
            var btn = document.createElement("input");
            btn.id = SubCategorydata.VendorTypeId;
            $(btn).attr("type", "button");
            $(btn).addClass("btn-success btn");
            $(btn).val("Edit");
            $(btn).attr("onclick", "EditVendorType(" + SubCategorydata.VendorTypeId + ");")
            cell.appendChild(btn);

            row.appendChild(cell);
            tbody.appendChild(row);
            table.appendChild(tbody);
        });
    };

    function EditVendorType(VendorTypeId)
    {
        var spinner = new Spinner().spin();
        document.getElementById("contentdiv").appendChild(spinner.el);
        if (VendorTypeId > 0) {
            $.ajax({
                cache: false,
                type: "GET",
                async: false,
                data: { VendorTypeId: VendorTypeId },
                url: '@Url.Action("Edit", "VendorType")',
                dataType: "json",
                success: function (students) {
                    $("#btnAdd").trigger("click");
                    $("#VendorType").val(students.VendorType);
                    $("#VendorTypeId").val(students.VendorTypeId);
                    $("#btnSave").hide();
                    $("#btnUpdate").show();
                    //var spinner = new Spinner().spin();
                    document.getElementById("contentdiv").removeChild(spinner.el);
                }
            });
        }
    }

    function Upload(ImageType) {
        var spinner = new Spinner().spin();
        document.getElementById("contentdiv").appendChild(spinner.el);
        var data = new FormData();
        var files;
        var urlpoint;
        files = $("#BrandImage").get(0).files;
        if (files.length > 0) {
            data.append("BrandImage", files[0]);
        }
        $.ajax({
            url: "@Url.Action("UploadBrand","VendorType")",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                if (response.Status == true) {
                    $("#logoImagehidden").val(response.FilePath);
                }
                else {
                    var objShowCustomAlert = new ShowCustomAlert({
                        Title: "",
                        Message: "Not able to upload image.",
                        Type: "alert",
                    });
                    objShowCustomAlert.ShowCustomAlertBox();
                }
                //var spinner = new Spinner().spin();
                document.getElementById("contentdiv").removeChild(spinner.el);
            },
            error: function (er) {
                alert(er);
            }
        });
    }
</script>
<div class="span_3" id="divMain">
    <div class="col-md-12 divPadding1">
        <div class="col-md-9">
            <input type="text" id="txtSearch" class="form-control1 inputborder" />
        </div>
        <div class="col-md-3">
            <input type="button" value="Search" class="btn btn-default" id="btnSearch" />
            <input type="button" value=" Reset " class="btn btn-default" id="btnReset" />
            <input type="button" value=" New" class="btn btn-default" id="btnAdd" />
        </div>
    </div>
    <div class="bs-example1" data-example-id="contextual-table">
        <table class="table table-bordered" id="SubCategoryInfo">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vendor Type</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td>@item.VendorTypeId</td>
                        <td>@item.VendorType</td>
                        <td>
                            <input type="button" class="btn-success btn" value="Edit" onclick="EditVendorType(@item.VendorTypeId);" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6 page_1">
        <nav>
            <ul class="pagination">
                <li><a href="#" aria-label="First" id="btnFirst"><span aria-hidden="true"><<</span></a></li>
                <li><a href="#" aria-label="Previous" id="btnPrev"><span aria-hidden="true"><</span></a></li>
                <li><a href="#" aria-label="Nex" id="btnNext"><span aria-hidden="true">></span></a></li>
                <li><a href="#" aria-label="Last" id="btnLast"><span aria-hidden="true">>></span></a></li>
            </ul>
        </nav>
    </div>
</div>
<div id="createDiv" class="span_3" style="display:none">
    @Html.Partial("_AddVendorTypeSPMO", new ShriVivah.Models.VendorTypeModel())
</div>

